nav.sidebar {
    width: 200px;
}

main,
.search_container {
    margin-left: 200px;
}

header {
    left: 200px;
}

table {
    border-collapse: separate !important;
    border-spacing: 0 1rem;

    tbody tr td img {
        width: 5rem;
        height: 5rem;
    }
}

textarea {
    resize: none !important;
    height: 10rem;
}

#uploaded_img_container img,
#edit_uploaded_img_container img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.count {
    font-size: 0.8rem;
}

.address {
    font-size: 0.7rem;
}

.categories li,
.remove {
    cursor: pointer;
}

.error {
    font-size: 0.75rem;
}

.category_list,
.order_status {
    cursor: pointer;
}